.title {
    font-family: "Delius", serif;
    font-size: 5rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.btn-amazon {
    background-color: #f8bc62;
}

.btn-bn {
    background-color: #415963;
}
